.header{
    padding-top: 20px;
    padding-bottom: 20px;
    top:0;
    left: 0;
    width: 100%;
    background: black;
    border-bottom: white solid 3px;
}
.title{
    text-decoration: none;
    font-size: 30px;
    padding-bottom: 15px;
    font-weight: bolder;
    border: white solid 2px;
    width: 30%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    padding-top: 15px;
    background: black;
    color: white;
}
.navBar_wrapper{
    position: sticky;
    top:0;
    z-index: 100;
}
.navBar_container{
    padding: 15px 0 15px 0;
    color: white;
    display: flex;
    justify-content: space-evenly;
    background: black;
    font-size: 20px;
    font-weight: bolder;
}
.category_title{
    display: block;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.category_title_select{
    display: block;
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.category_title:hover{
    color: red;
}
.phone{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.phone:hover{
    text-decoration: none;
    color: red;
}
.footer{
    margin-top: 150px;
    background: black;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}
.facebook_container{
    font-size: 20px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding: 10px;
}
.facebook{
    text-decoration: none;
    color: white;
}

