.header{
    padding-top: 40px;
    padding-bottom: 40px;
    top:0;
    left: 0;
    width: 100%;
    background: black;
    border-bottom: white solid 3px;
}
.title{
    text-decoration: none;
    font-size: 35px;
    padding-bottom: 20px;
    font-weight: bolder;
    border: white solid 5px;
    width: 30%;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    padding-top: 20px;
    background: black;
    color: white;
}
.navBar_wrapper{
    position: sticky;
    top:0;
    z-index: 100;
}
.navBar_container{
    padding: 20px 0 20px 0;
    color: white;
    display: flex;
    justify-content: space-evenly;
    background: black;
    font-size: 25px;
    font-weight: bolder;
}
.menu_container{
    position: absolute;
    min-width: 30%;
    height: 200px;
    background: black;
    color: white;
    padding: 0 25px 5px 25px;
    animation-name: example;
    animation-duration: 1s;
}
.menu_container_selected{
    position: absolute;
    min-width: 30%;
    height: 200px;
    background: black;
    color: white;
    padding: 25px 25px 5px 25px;
    animation-name: example;
    animation-duration: 1s;
}
@keyframes example {
    0%   { left:-200px; top:49px;}
    100% { left:0; top:49px;}
}
.category_title{
    display: block;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.category_title_select{
    display: block;
    color: red;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.category_title:hover{
    color: red;
}
.phone{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.phone:hover{
    text-decoration: none;
    color: red;
}
.footer{
    margin-top: 200px;
    background: black;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}
.facebook_container{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding: 10px;
}
.facebook{
    text-decoration: none;
    color: white;
}

.phone_container{
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background: black;
    color: white;
}

