
.wrapper{
    min-height: calc(106vh - 320px);
    margin: auto;
    width: 90%;
}
.prices{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}
.description{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: inherit;
    text-indent: 50px;
    text-align: justify;
    font-size: 20px;
}

