.wrapper {
  min-height: calc(106vh - 320px);
  width: 1250px;
  margin: auto;
}
.slider {
  margin-top: 70px;
}

.image {
  width: 600px;
  padding: 30px;
  border-radius: 60px;
}
.google_title {
  color: #337ab7;
  margin-top: 60px;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}
.body {
  font-family: inherit;
  text-indent: 50px;
  text-align: justify;
  font-size: 27px;
  padding: 30px;
  display: flex;
  align-items: center;
}
.text_container {
  display: flex;
  margin-top: 70px;
}
.google_maps_wrapper {
  margin-top: 30px;
  border: #337ab7 solid 4px;
  border-radius: 30px;
  background: #337ab7;
  color: white;
  display: flex;
}

.google_maps_container {
  width: 800px;
  justify-content: center;
  text-align: center;
}
.google_maps_town{
  font-size: 30px;
  font-weight: bolder;
  color: white;
}
